
img{
  height: 400px;
  width: 300px;
border-radius: 300px;
margin-left: 50px;
margin-top: 0px;
}
.descr{
  margin-top: 100px;
}
.jumbotron{
 background-color: transparent;
}
h1{
  padding-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
  
}
nav>ul>li>a{
  padding:18px;
  
  text-transform:uppercase;
  text-decoration:none;
  display:block;

}
nav>ul {
  text-align:right;
}
ul>li {
  display:inline-block;
}
footer{
  text-align: center;
 
  padding: 10px;
  margin-top: 55px;
  font-family: 'Handlee', cursive;
  font-weight: 400;
}
.about{
  margin-top: 15px;
margin-left: 35px;
font-family: 'Cormorant Garamond', serif;
font-size: 20px;
}
.hobby{
  margin-top: 15px;
  margin-left: 100px;
  font-family: 'Cormorant Garamond', serif;
 font-size: 30px; 
}
#project{
  font-family: 'Gentium Basic', serif;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 20px;
 
}
h4{
  font-size: 25px;

  font-weight: 500;
}