body{
  
    margin:50px;
  }
  @media screen and (min-width: 480px) {
    body {
        background-color:lightcyan;
       
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: lavender;
  }
}
h1{
    color: black;
    font-style:italic;
    text-shadow:2px 2px 5px blue;
    text-align:center;
  }
  img{
      
      margin-left: 300px;
  }
  .first{
    float: left;
    margin: 30px;
  }
  h4{
    font-style: italic;
  }
  #one{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 150px;
  }
  h3{
    color: brown;

  }
